{% extends 'base.html.twig' %}

{% block body %}

<div id="wrapper">
    <div id="container">
    	<h1> Hello world!! </h1>
    </div>
</div>
{% block stylesheets %}
<style>
    body { background: #f3d5e3; color: #000; }
    #wrapper{ border :1px outset #000; padding : 15px; margin: 25px;
    border-radius: 2px; text-align: center; min-height: 550px;}
</style>
{% endblock %}
{% endblock %}