{% extends 'base.html.twig' %}

{% block body %}
	<header>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
            </ul>
        </nav>
    </header>

<div id="wrapper">
    <div id="container">
    	<h1> Symfony 3.2 </h1>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #28c9ff; color: #fff; }
    #wrapper{ border :1px solid #000; padding : 10px; margin: 25px;
    border-radius: 2px; text-align: center; min-height: 550px;}
    li{ list-style-type: none; display: inline-block; padding: 10px; }
    a { color: #fff; font-size: 1.5em;}
</style>
{% endblock %}